{% extends 'base.html' %}

{% block homepagetitle %}Landing Page{% endblock %}

{% block homepage %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class = 'flashes'>
    {% for message in messages %}
    {{message}}
    {% endfor %}
  </div>
    {% endif %}
    {% endwith %}

<h1> BRAND TITLE </h1>

{% if 'email' not in session %}
<h2>Create an Account</h2>
<form action="/register-users" method="POST">
    <p>
        Email <input type="text" name="email">
    </p>

    <p>
        Password <input type="password" name="password">
    </p>

    <p>
        <input type="submit">
    </p>
</form>

<h2>Log Into Account</h2>
<form action="/login" method="POST">
    <p>
        Email <input type="text" name="email">
    </p>

    <p>
        Password <input type="password" name="password">
    </p>

    <p>
        <input type="submit">
    </p>
</form>
{% endif %}



{% if 'email' in session %}

<button id="getLocationBtn">Get Location</button>

<script src="/static/geolocation.js"></script>

<form action="/logout" method="POST">
    <button type="submit">Logout</button>
</form>

{% endif %}

{% endblock %}
